.containerrr{
    margin: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.52);
    box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.52);
    margin-bottom: 40px;
}
.address{
      display: flex;
.left{
    margin: 10px 20px;
        color: rgb(70, 67, 67);
    }
    .right{
        margin: auto;
        margin-left: auto;
    
    .button{
        color: black;
        border: 1px solid black;
    
    &:hover{
        background-color: black;
        color: white;
        
    }
}
}
}
