.serviceHeading{
    
 text-align: center;
 justify-content: center;
 padding: 15px 0px;
 font-style: italic
  
}

.servicess{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-style: none;
    height: 100%;
    

    .serviceItemm{
        position: relative;
        // border-radius: 10px;
        width:17rem;
        height:17rem;
        // -webkit-box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.52);
        //     -moz-box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.52);
        //     box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.52);

        .serviceImg{
                    border-radius: 10px;
                    width: 17rem;
                        height: 17rem;

            &:hover{
                height:250px;
                width:250px;
            }
        }

        .serviceTitless{
            bottom: 20px;
            color: rgb(254, 253, 253);
            position: absolute;
            text-align: center;
             align-items: center;
             align-content: center;
             justify-content: center;
             padding-left: 5rem;   
    }
    }
}
