.serviceHeading{
 text-align: center;
 justify-content: center;
 padding: 15px 0px;
 font-style: italic
  
}

.services{
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
   

    .serviceItem{
        position: relative;
        border-radius: 10px;
        -webkit-box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.52);
            -moz-box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.52);
            box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.52);
            padding: 10px;
            height: 15rem;
                width:20rem;
                margin: auto;
        
        

        .serviceImg{
            width: 100%;
            object-fit: cover;
            height:100%;
        }

        .serviceTitles{
            bottom: 20px;
            color: rgb(254, 253, 253);
            text-align: center;
            margin: auto;
            align-items: center;
            position: absolute;
            margin-left: auto;

        }
    }
}
.serviceImg{
    width: 100px;
    margin: auto;
}