    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Tajawal:wght@200&display=swap');
.Logo{
    color:white;
     font-size: x-large;
    text-decoration-line: none;
    // font-family: 'Indie Flower', cursive;
        font-family: 'Pacifico', cursive;
        font-weight: 600;
}
.Subnav{
    margin-left:auto;
    
}
.About{
    text-decoration: none;
    color: white;
    margin-right: 18px;
    &:hover{
       font-size: larger;
       font-weight: 700;
       
        color: white;
        border-bottom: 1px solid white
    }
}
.Sub-nav{
    color: black;
    text-decoration-line: none;
}