.SubHeading {
    display: flex;
    text-align: center;
    margin: 40px 0px;
    justify-content: center;
    .name {
        font-size: xx-large;
        color: rgb(11, 11, 11);
        text-decoration: none;
        margin: 0px 20px;

        &:hover {
            color: black;
            font-weight: bold;
            font-style: italic;
        }
    }
    .Line {
        font-size: xx-large;
        color: black;
        text-decoration: none;
        margin: 0px 20px;
    }
}